@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.sd-page, .sd-action-bar{
  @apply lg:w-[70%] lg:mx-auto !important;
}

.sd-imagepicker__item img{
  height: 15em !important;
}

body #root {
  --primary: #3d63d2;
  --primary-light: rgba(26, 183, 250, 0.1);
  --secondary: #1ab7fa;
  /* --background: #555555;
  --background-dim: #4d4d4d;
  --background-dim-light: #4d4d4d;
  --foreground: #ededed; */
}


@layer base{
  *{
    font-family: 'Poppins', sans-serif !important;
  }

  .sv_qstn .sq-root {
    border: 1px solid gray;
    border-left: 4px solid #18a689;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
  }
   
  /* .sv_qstn2 .sq-root {
    border: 1px solid lightgray;
    border-radius: 5px;
    border-left: 4px solid #18a689;
  } */
  
  

  /* body #surveyElement {
    --primary: #1ab7fa;
    --primary-light: rgba(26, 183, 250, 0.1);
    --secondary: #1ab7fa;
    --background: #555555;
    --background-dim: #4d4d4d;
    --background-dim-light: #4d4d4d;
    --foreground: #ededed;
  } */
  
}

@layer components{
  /* .sd-btn{
    color: #000 !important;
  } */
}